USE [master]
GO
/****** Object:  Database [ViperDevDb2018]    Script Date: 26/11/2018 12:36:01 a. m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'ViperDevDb2018')
BEGIN
CREATE DATABASE [ViperDevDb2018]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ViperDevDb2018', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ViperDevDb2018.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ViperDevDb2018_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ViperDevDb2018_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ViperDevDb2018].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ViperDevDb2018]
GO
USE [ViperDevDb2018]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 26/11/2018 12:36:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Address]    Script Date: 26/11/2018 12:36:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Address]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoadTypeId] [int] NOT NULL,
	[AddressTypeId] [int] NOT NULL,
	[AddressLine1] [nvarchar](100) NOT NULL,
	[AddressLine2] [nvarchar](100) NOT NULL,
	[CountryRegionId] [int] NOT NULL,
	[StateProvinceId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[PostalCode] [nvarchar](5) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AddressSAT]    Script Date: 26/11/2018 12:36:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AddressSAT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AddressSAT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoadTypeId] [int] NOT NULL,
	[AddressTypeId] [int] NOT NULL,
	[AddressLine1] [nvarchar](100) NOT NULL,
	[AddressLine2] [nvarchar](100) NOT NULL,
	[CountryRegionId] [int] NOT NULL,
	[StateProvinceId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[PostalCode] [nvarchar](5) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AddressSAT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[AddressType]    Script Date: 26/11/2018 12:36:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AddressType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AddressType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.AddressType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[City]    Script Date: 26/11/2018 12:36:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[City]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StateProvinceId] [int] NOT NULL,
	[CveEnt] [nvarchar](2) NOT NULL,
	[CveCity] [nvarchar](3) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[CveCab] [nvarchar](7) NULL,
	[NameCab] [nvarchar](100) NULL,
	[PTOT] [nvarchar](10) NULL,
	[PMAS] [nvarchar](10) NULL,
	[PFEM] [nvarchar](10) NULL,
	[VTOT] [nvarchar](10) NULL,
 CONSTRAINT [PK_dbo.City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Company]    Script Date: 26/11/2018 12:36:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Company]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[CompanyKey] [nvarchar](30) NOT NULL,
	[AddressId] [int] NOT NULL,
	[AddressSATId] [int] NOT NULL,
	[RegimenFiscalId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](10) NULL,
	[CellphoneNumber] [nvarchar](13) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[FiscalName] [nvarchar](50) NULL,
	[RFC] [nvarchar](13) NOT NULL,
	[CURP] [nvarchar](18) NOT NULL,
	[ApiKey] [nvarchar](100) NULL,
	[BusinessActivity] [nvarchar](30) NULL,
	[UserId] [int] NOT NULL,
	[Logo] [varbinary](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CountryRegion]    Script Date: 26/11/2018 12:36:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CountryRegion]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CountryRegion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[FIPS104] [nvarchar](2) NOT NULL,
	[ISO2] [nvarchar](2) NOT NULL,
	[ISO3] [nvarchar](3) NOT NULL,
	[ISON] [nvarchar](30) NOT NULL,
	[Internet] [nvarchar](2) NULL,
	[Capital] [nvarchar](25) NULL,
	[MapReference] [nvarchar](50) NULL,
	[NationalitySingular] [nvarchar](35) NULL,
	[NationalityPlural] [nvarchar](35) NULL,
	[Currency] [nvarchar](30) NULL,
	[CurrencyCode] [nvarchar](3) NULL,
	[Population] [bigint] NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Comment] [nvarchar](2048) NULL,
 CONSTRAINT [PK_dbo.CountryRegion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Department]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Department]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[GroupName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNumber] [nvarchar](100) NOT NULL,
	[IS] [nvarchar](6) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[PhoneNumber] [nvarchar](10) NULL,
	[CellphoneNumber] [nvarchar](13) NULL,
	[BirthDate] [nvarchar](8) NULL,
	[MaritalStatusId] [int] NOT NULL,
	[GenderId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
	[RFC] [nvarchar](13) NULL,
	[CURP] [nvarchar](18) NOT NULL,
	[NSS] [nvarchar](16) NOT NULL,
	[UserId] [int] NOT NULL,
	[Photo] [varbinary](max) NULL,
	[FingerPrint] [varbinary](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[EmployeeDepartmentHistory]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmployeeDepartmentHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[JobTitleId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
	[ShiftId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EmployeeDepartmentHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Gender]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[JobTitle]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JobTitle]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[JobTitle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.JobTitle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MaritalStatus]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MaritalStatus]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MaritalStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.MaritalStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Module]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Module]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Module](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Menu] [nvarchar](50) NOT NULL,
	[Submenu] [nvarchar](50) NULL,
	[ControlName] [nvarchar](50) NOT NULL,
	[ControlImage] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Module] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Permission]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Permission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ModuleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Permission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BarCode] [nvarchar](21) NOT NULL,
	[AlternativeCode] [nvarchar](21) NULL,
	[ActiveSubstance] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](10) NULL,
	[ProductSubCategoryId] [int] NOT NULL,
	[StandardCost] [decimal](18, 2) NOT NULL,
	[ListPrice] [decimal](18, 2) NOT NULL,
	[IsUseInStock] [bit] NOT NULL,
	[IsDiscontinued] [bit] NOT NULL,
	[IsLot] [bit] NOT NULL,
	[IsRecipe] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DiscontinuedDate] [nvarchar](max) NULL,
	[InvMin] [int] NOT NULL,
	[InvMax] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ProductCostHistory]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductCostHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductCostHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
	[StantardCost] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCostHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ProductInventory]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductInventory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductInventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
	[UnitsInStock] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductInventory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ProductListPriceHistory]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductListPriceHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductListPriceHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
	[ListPrice] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ProductListPriceHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ProductSubCategory]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductSubCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductSubCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategoryId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_dbo.ProductSubCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RegimenFiscal]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RegimenFiscal]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RegimenFiscal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](6) NOT NULL,
	[Description] [nvarchar](400) NOT NULL,
	[Fisica] [bit] NOT NULL,
	[Moral] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.RegimenFiscal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RoadType]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RoadType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RoadType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.RoadType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Role]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Shift]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Shift](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Shift] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Site]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Site]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Site](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[SiteName] [nvarchar](256) NOT NULL,
	[UniquePhysicalID] [nvarchar](100) NOT NULL,
	[AddressId] [int] NOT NULL,
	[ResponsibleName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Site] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[StateProvince]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StateProvince]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StateProvince](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryRegionId] [int] NOT NULL,
	[CveEnt] [nvarchar](2) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Abrev] [nvarchar](10) NOT NULL,
	[CveCab] [nvarchar](7) NULL,
	[NameCab] [nvarchar](100) NULL,
	[PTOT] [nvarchar](10) NULL,
	[PMAS] [nvarchar](10) NULL,
	[PFEM] [nvarchar](10) NULL,
	[VTOT] [nvarchar](10) NULL,
 CONSTRAINT [PK_dbo.StateProvince] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Supplier]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](50) NOT NULL,
	[SupplierKey] [nvarchar](30) NOT NULL,
	[AddressId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](10) NULL,
	[CellphoneNumber] [nvarchar](13) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[RFC] [nvarchar](13) NOT NULL,
	[BusinessActivity] [nvarchar](30) NULL,
	[UserId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Logo] [varbinary](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[User]    Script Date: 26/11/2018 12:36:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [nvarchar](20) NOT NULL,
	[PasswordEncrypted] [nvarchar](256) NOT NULL,
	[PasswordQuestion] [nvarchar](100) NULL,
	[PasswordAnswer] [nvarchar](100) NULL,
	[RoleId] [int] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[IsWelcome] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Address] ON 
GO
INSERT [dbo].[Address] ([Id], [RoadTypeId], [AddressTypeId], [AddressLine1], [AddressLine2], [CountryRegionId], [StateProvinceId], [CityId], [PostalCode], [CreatedDate], [CreatedBy], [LastUpdatedDate], [LastUpdatedBy]) VALUES (1, 5, 2, N'CALLE: DIAMANTE, NO. EXT: 285;', N'COLONIA: PRIVADAS EL JARAL;', 1, 19, 957, N'66834', CAST(N'2018-10-28T00:00:00.000' AS DateTime), N'HECP', CAST(N'2018-10-28T00:00:00.000' AS DateTime), N'HECP')
GO
INSERT [dbo].[Address] ([Id], [RoadTypeId], [AddressTypeId], [AddressLine1], [AddressLine2], [CountryRegionId], [StateProvinceId], [CityId], [PostalCode], [CreatedDate], [CreatedBy], [LastUpdatedDate], [LastUpdatedBy]) VALUES (2, 3, 9, N'CALLE: S. BERNABÉ, NO. EXT: 205;', N'COLONIA: VALLE MORELOS;', 1, 19, 985, N'64180', CAST(N'2018-11-23T10:54:17.000' AS DateTime), N'HECP', CAST(N'2018-11-23T10:54:17.000' AS DateTime), N'HECP')
GO
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[AddressSAT] ON 
GO
INSERT [dbo].[AddressSAT] ([Id], [RoadTypeId], [AddressTypeId], [AddressLine1], [AddressLine2], [CountryRegionId], [StateProvinceId], [CityId], [PostalCode], [CreatedDate], [CreatedBy], [LastUpdatedDate], [LastUpdatedBy]) VALUES (1, 5, 2, N'CALLE: MIMAS, NO. EXT: 111;', N'COLONIA: COSMOPOLIS;', 1, 19, 953, N'66612', CAST(N'2018-10-28T00:00:00.000' AS DateTime), N'HECP', CAST(N'2018-10-28T00:00:00.000' AS DateTime), N'HECP')
GO
SET IDENTITY_INSERT [dbo].[AddressSAT] OFF
GO
SET IDENTITY_INSERT [dbo].[AddressType] ON 
GO
INSERT [dbo].[AddressType] ([Id], [Name]) VALUES (1, N'BODEGA')
GO
INSERT [dbo].[AddressType] ([Id], [Name]) VALUES (2, N'CASA HABITACION')
GO
INSERT [dbo].[AddressType] ([Id], [Name]) VALUES (3, N'ESCUELA Y BIBLIOTECA')
GO
SET IDENTITY_INSERT [dbo].[AddressType] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 
GO
INSERT [dbo].[City] ([Id], [StateProvinceId], [CveEnt], [CveCity], [Description], [CveCab], [NameCab], [PTOT], [PMAS], [PFEM], [VTOT]) VALUES (1, 1, N'1', N'1', N'AGUASCALIENTES', N'1', N'AGUASCALIENTES', N'797010', N'386429', N'410581', N'202141')
GO
INSERT [dbo].[City] ([Id], [StateProvinceId], [CveEnt], [CveCity], [Description], [CveCab], [NameCab], [PTOT], [PMAS], [PFEM], [VTOT]) VALUES (2, 1, N'1', N'2', N'ASIENTOS', N'1', N'ASIENTOS', N'45492', N'22512', N'22980', N'10012')
GO
INSERT [dbo].[City] ([Id], [StateProvinceId], [CveEnt], [CveCity], [Description], [CveCab], [NameCab], [PTOT], [PMAS], [PFEM], [VTOT]) VALUES (3, 1, N'1', N'3', N'CALVILLO', N'1', N'CALVILLO', N'54136', N'26250', N'27886', N'12847')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Company] ON 
GO
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[CountryRegion] ON 
GO
INSERT [dbo].[CountryRegion] ([Id], [Description], [FIPS104], [ISO2], [ISO3], [ISON], [Internet], [Capital], [MapReference], [NationalitySingular], [NationalityPlural], [Currency], [CurrencyCode], [Population], [Title], [Comment]) VALUES (1, N'MEXICO', N'MX', N'MX', N'MEX', N'484', N'MX', N'MEXICO', N'NORTH AMERICA', N'MEXICAN', N'MEXICANS', N'MEXICAN PESO', N'MXN', 101879171, N'MEXICO', N'')
GO
SET IDENTITY_INSERT [dbo].[CountryRegion] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 
GO
INSERT [dbo].[Department] ([Id], [Name], [GroupName]) VALUES (1, N'EJECUTIVO', N'Executive General and Administration')
GO
INSERT [dbo].[Department] ([Id], [Name], [GroupName]) VALUES (2, N'FARMACIA', N'Executive General and Administration')
GO
INSERT [dbo].[Department] ([Id], [Name], [GroupName]) VALUES (3, N'ADMINISTRACION', N'Executive General and Administration')
GO
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 
GO
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (1, N'MASCULINO')
GO
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (2, N'FEMENINO')
GO
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[JobTitle] ON 
GO
INSERT [dbo].[JobTitle] ([Id], [Name], [DepartmentId]) VALUES (1, N'SOCIO FUNDADOR', 1)
GO
INSERT [dbo].[JobTitle] ([Id], [Name], [DepartmentId]) VALUES (2, N'RESPONSABLE DE SUCURSAL', 2)
GO
INSERT [dbo].[JobTitle] ([Id], [Name], [DepartmentId]) VALUES (3, N'ADMINISTRADOR DE FINANZAS', 3)
GO
SET IDENTITY_INSERT [dbo].[JobTitle] OFF
GO
SET IDENTITY_INSERT [dbo].[MaritalStatus] ON 
GO
INSERT [dbo].[MaritalStatus] ([Id], [Name]) VALUES (1, N'SOLTERO')
GO
INSERT [dbo].[MaritalStatus] ([Id], [Name]) VALUES (2, N'CASADO')
GO
INSERT [dbo].[MaritalStatus] ([Id], [Name]) VALUES (3, N'VIUDO')
GO
SET IDENTITY_INSERT [dbo].[MaritalStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Module] ON 
GO
INSERT [dbo].[Module] ([Id], [Name], [Menu], [Submenu], [ControlName], [ControlImage], [IsActive]) VALUES (1, N'Ventas', N'F1 Ventas', N'NULL', N'btnVentas', N'ventas.png', 1)
GO
INSERT [dbo].[Module] ([Id], [Name], [Menu], [Submenu], [ControlName], [ControlImage], [IsActive]) VALUES (2, N'Productos', N'F2 Productos', N'NULL', N'btnProductos', N'productos.png', 1)
GO
INSERT [dbo].[Module] ([Id], [Name], [Menu], [Submenu], [ControlName], [ControlImage], [IsActive]) VALUES (3, N'Inventario', N'F3 Inventario', N'NULL', N'btnInventario', N'inventario.png', 1)
GO
SET IDENTITY_INSERT [dbo].[Module] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 
GO
INSERT [dbo].[ProductCategory] ([Id], [Name]) VALUES (1, N'SIN CATEGORIA')
GO
INSERT [dbo].[ProductCategory] ([Id], [Name]) VALUES (2, N'ALIMENTOS')
GO
INSERT [dbo].[ProductCategory] ([Id], [Name]) VALUES (3, N'BEBES')
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSubCategory] ON 
GO
INSERT [dbo].[ProductSubCategory] ([Id], [ProductCategoryId], [Name]) VALUES (1, 1, N'SIN SUBCATEGORIA')
GO
INSERT [dbo].[ProductSubCategory] ([Id], [ProductCategoryId], [Name]) VALUES (2, 2, N'SIN SUBCATEGORIA')
GO
INSERT [dbo].[ProductSubCategory] ([Id], [ProductCategoryId], [Name]) VALUES (3, 3, N'SIN SUBCATEGORIA')
GO
SET IDENTITY_INSERT [dbo].[ProductSubCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[RegimenFiscal] ON 
GO
INSERT [dbo].[RegimenFiscal] ([Id], [Key], [Description], [Fisica], [Moral]) VALUES (1, N'0001', N'FARMACIAS CON MINISUPER', 1, 0)
GO
INSERT [dbo].[RegimenFiscal] ([Id], [Key], [Description], [Fisica], [Moral]) VALUES (2, N'0002', N'FARMACIAS SIN MINISUPER', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[RegimenFiscal] OFF
GO
SET IDENTITY_INSERT [dbo].[RoadType] ON 
GO
INSERT [dbo].[RoadType] ([Id], [Name]) VALUES (1, N'ANDADOR')
GO
INSERT [dbo].[RoadType] ([Id], [Name]) VALUES (2, N'AUTOPISTA')
GO
INSERT [dbo].[RoadType] ([Id], [Name]) VALUES (3, N'AVENIDA (AV.)')
GO
SET IDENTITY_INSERT [dbo].[RoadType] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 
GO
INSERT [dbo].[Role] ([Id], [Name], [Description]) VALUES (1, N'ADMINISTRADOR', N'Allow all, among other things to control users, products, managae credentials, ...')
GO
INSERT [dbo].[Role] ([Id], [Name], [Description]) VALUES (2, N'BASICO', N'The employee can make sales, consult reports, make cash cuts')
GO
INSERT [dbo].[Role] ([Id], [Name], [Description]) VALUES (3, N'PROVEEDOR', N'The supplier can view products with low inventory to be able to replenish, send quotes to customers')
GO
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Shift] ON 
GO
INSERT [dbo].[Shift] ([Id], [Name], [StartTime], [EndTime]) VALUES (1, N'MATUTINO', CAST(N'2018-11-26T08:00:00.000' AS DateTime), CAST(N'2018-11-26T15:00:00.000' AS DateTime))
GO
INSERT [dbo].[Shift] ([Id], [Name], [StartTime], [EndTime]) VALUES (2, N'VESPERTINO', CAST(N'2018-11-26T15:00:00.000' AS DateTime), CAST(N'2018-11-26T22:00:00.000' AS DateTime))
GO
INSERT [dbo].[Shift] ([Id], [Name], [StartTime], [EndTime]) VALUES (3, N'ALL DAY', CAST(N'2018-11-26T08:00:00.000' AS DateTime), CAST(N'2018-11-26T22:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Shift] OFF
GO
SET IDENTITY_INSERT [dbo].[Site] ON 
GO
INSERT [dbo].[Site] ([Id], [CompanyId], [SiteName], [UniquePhysicalID], [AddressId], [ResponsibleName], [PhoneNumber], [IsActive], [CreatedDate], [CreatedBy], [LastUpdatedDate], [LastUpdatedBy]) VALUES (1, 1, N'DEFAULT', N'OWTK-SUPFARFARPM4NL', 1, N'DEFAULT', N'8121650892', 1, CAST(N'2018-10-28T00:00:00.000' AS DateTime), N'HECP', CAST(N'2018-10-28T00:00:00.000' AS DateTime), N'HECP')
GO
SET IDENTITY_INSERT [dbo].[Site] OFF
GO
SET IDENTITY_INSERT [dbo].[StateProvince] ON 
GO
INSERT [dbo].[StateProvince] ([Id], [CountryRegionId], [CveEnt], [Description], [Abrev], [CveCab], [NameCab], [PTOT], [PMAS], [PFEM], [VTOT]) VALUES (1, 1, N'1', N'AGUASCALIENTES', N'AGS', N'10001', N'AGUASCALIENTES', N'1184996', N'576638', N'608358', N'290877')
GO
INSERT [dbo].[StateProvince] ([Id], [CountryRegionId], [CveEnt], [Description], [Abrev], [CveCab], [NameCab], [PTOT], [PMAS], [PFEM], [VTOT]) VALUES (2, 1, N'2', N'BAJA CALIFORNIA', N'BC', N'20001', N'MEXICALI', N'3155070', N'1591610', N'1563460', N'870769')
GO
INSERT [dbo].[StateProvince] ([Id], [CountryRegionId], [CveEnt], [Description], [Abrev], [CveCab], [NameCab], [PTOT], [PMAS], [PFEM], [VTOT]) VALUES (3, 1, N'3', N'BAJA CALIFORNIA SUR', N'BCS', N'30001', N'LA PAZ', N'637026', N'325433', N'311593', N'178271')
GO
SET IDENTITY_INSERT [dbo].[StateProvince] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 
GO
INSERT [dbo].[Supplier] ([Id], [SupplierName], [SupplierKey], [AddressId], [PhoneNumber], [CellphoneNumber], [EmailAddress], [RFC], [BusinessActivity], [UserId], [IsActive], [Logo], [CreatedDate], [CreatedBy], [LastUpdatedDate], [LastUpdatedBy]) VALUES (1, N'RASE FARMACÉUTICA', N'OWTK-RASFARC92NL', 2, N'8183111103', N'0180063848982', N'INFO@RASE.COM.MX', N'PFR050609CC92', N'DISTRIBUIDORA DE MEDICAMENTOS', 2, 0, NULL, CAST(N'2018-11-23T10:54:17.000' AS DateTime), N'HECP', CAST(N'2018-11-23T10:54:17.000' AS DateTime), N'HECP')
GO
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 
GO
INSERT [dbo].[User] ([Id], [LoginID], [PasswordEncrypted], [PasswordQuestion], [PasswordAnswer], [RoleId], [AccessFailedCount], [IsWelcome], [IsActive], [CreatedDate], [CreatedBy], [LastUpdatedDate], [LastUpdatedBy]) VALUES (1, N'CAPH930421PM4', N'Mgq71kVNtNqdFwsiQhe1dw==', NULL, NULL, 1, 0, 1, 1, CAST(N'2018-10-28T17:22:29.000' AS DateTime), N'HECP', CAST(N'2018-10-28T17:22:29.000' AS DateTime), N'HECP')
GO
INSERT [dbo].[User] ([Id], [LoginID], [PasswordEncrypted], [PasswordQuestion], [PasswordAnswer], [RoleId], [AccessFailedCount], [IsWelcome], [IsActive], [CreatedDate], [CreatedBy], [LastUpdatedDate], [LastUpdatedBy]) VALUES (2, N'PFR050609CC92', N'Mgq71kVNtNqdFwsiQhe1dw==', NULL, NULL, 3, 0, 1, 1, CAST(N'2018-11-23T11:12:02.000' AS DateTime), N'HECP', CAST(N'2018-11-23T11:12:02.000' AS DateTime), N'HECP')
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_AddressTypeId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Address]') AND name = N'IX_AddressTypeId')
CREATE NONCLUSTERED INDEX [IX_AddressTypeId] ON [dbo].[Address]
(
	[AddressTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Address]') AND name = N'IX_CityId')
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[Address]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryRegionId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Address]') AND name = N'IX_CountryRegionId')
CREATE NONCLUSTERED INDEX [IX_CountryRegionId] ON [dbo].[Address]
(
	[CountryRegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoadTypeId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Address]') AND name = N'IX_RoadTypeId')
CREATE NONCLUSTERED INDEX [IX_RoadTypeId] ON [dbo].[Address]
(
	[RoadTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StateProvinceId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Address]') AND name = N'IX_StateProvinceId')
CREATE NONCLUSTERED INDEX [IX_StateProvinceId] ON [dbo].[Address]
(
	[StateProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AddressTypeId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AddressSAT]') AND name = N'IX_AddressTypeId')
CREATE NONCLUSTERED INDEX [IX_AddressTypeId] ON [dbo].[AddressSAT]
(
	[AddressTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AddressSAT]') AND name = N'IX_CityId')
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[AddressSAT]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryRegionId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AddressSAT]') AND name = N'IX_CountryRegionId')
CREATE NONCLUSTERED INDEX [IX_CountryRegionId] ON [dbo].[AddressSAT]
(
	[CountryRegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoadTypeId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AddressSAT]') AND name = N'IX_RoadTypeId')
CREATE NONCLUSTERED INDEX [IX_RoadTypeId] ON [dbo].[AddressSAT]
(
	[RoadTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StateProvinceId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AddressSAT]') AND name = N'IX_StateProvinceId')
CREATE NONCLUSTERED INDEX [IX_StateProvinceId] ON [dbo].[AddressSAT]
(
	[StateProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StateProvinceId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[City]') AND name = N'IX_StateProvinceId')
CREATE NONCLUSTERED INDEX [IX_StateProvinceId] ON [dbo].[City]
(
	[StateProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AddressId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Company]') AND name = N'IX_AddressId')
CREATE NONCLUSTERED INDEX [IX_AddressId] ON [dbo].[Company]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AddressSATId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Company]') AND name = N'IX_AddressSATId')
CREATE NONCLUSTERED INDEX [IX_AddressSATId] ON [dbo].[Company]
(
	[AddressSATId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegimenFiscalId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Company]') AND name = N'IX_RegimenFiscalId')
CREATE NONCLUSTERED INDEX [IX_RegimenFiscalId] ON [dbo].[Company]
(
	[RegimenFiscalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Company]') AND name = N'IX_UserId')
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Company]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AddressId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND name = N'IX_AddressId')
CREATE NONCLUSTERED INDEX [IX_AddressId] ON [dbo].[Employee]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GenderId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND name = N'IX_GenderId')
CREATE NONCLUSTERED INDEX [IX_GenderId] ON [dbo].[Employee]
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaritalStatusId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND name = N'IX_MaritalStatusId')
CREATE NONCLUSTERED INDEX [IX_MaritalStatusId] ON [dbo].[Employee]
(
	[MaritalStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND name = N'IX_UserId')
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Employee]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]') AND name = N'IX_DepartmentId')
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[EmployeeDepartmentHistory]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]') AND name = N'IX_EmployeeId')
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[EmployeeDepartmentHistory]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobTitleId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]') AND name = N'IX_JobTitleId')
CREATE NONCLUSTERED INDEX [IX_JobTitleId] ON [dbo].[EmployeeDepartmentHistory]
(
	[JobTitleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShiftId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]') AND name = N'IX_ShiftId')
CREATE NONCLUSTERED INDEX [IX_ShiftId] ON [dbo].[EmployeeDepartmentHistory]
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiteId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]') AND name = N'IX_SiteId')
CREATE NONCLUSTERED INDEX [IX_SiteId] ON [dbo].[EmployeeDepartmentHistory]
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[JobTitle]') AND name = N'IX_DepartmentId')
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[JobTitle]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModuleId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Permission]') AND name = N'IX_ModuleId')
CREATE NONCLUSTERED INDEX [IX_ModuleId] ON [dbo].[Permission]
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Permission]') AND name = N'IX_RoleId')
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[Permission]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductSubCategoryId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND name = N'IX_ProductSubCategoryId')
CREATE NONCLUSTERED INDEX [IX_ProductSubCategoryId] ON [dbo].[Product]
(
	[ProductSubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiteId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND name = N'IX_SiteId')
CREATE NONCLUSTERED INDEX [IX_SiteId] ON [dbo].[Product]
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupplierId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND name = N'IX_SupplierId')
CREATE NONCLUSTERED INDEX [IX_SupplierId] ON [dbo].[Product]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ProductCostHistory]') AND name = N'IX_ProductId')
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ProductCostHistory]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiteId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ProductCostHistory]') AND name = N'IX_SiteId')
CREATE NONCLUSTERED INDEX [IX_SiteId] ON [dbo].[ProductCostHistory]
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ProductInventory]') AND name = N'IX_ProductId')
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ProductInventory]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiteId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ProductInventory]') AND name = N'IX_SiteId')
CREATE NONCLUSTERED INDEX [IX_SiteId] ON [dbo].[ProductInventory]
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ProductListPriceHistory]') AND name = N'IX_ProductId')
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ProductListPriceHistory]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiteId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ProductListPriceHistory]') AND name = N'IX_SiteId')
CREATE NONCLUSTERED INDEX [IX_SiteId] ON [dbo].[ProductListPriceHistory]
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductCategoryId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ProductSubCategory]') AND name = N'IX_ProductCategoryId')
CREATE NONCLUSTERED INDEX [IX_ProductCategoryId] ON [dbo].[ProductSubCategory]
(
	[ProductCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AddressId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Site]') AND name = N'IX_AddressId')
CREATE NONCLUSTERED INDEX [IX_AddressId] ON [dbo].[Site]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompanyId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Site]') AND name = N'IX_CompanyId')
CREATE NONCLUSTERED INDEX [IX_CompanyId] ON [dbo].[Site]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryRegionId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[StateProvince]') AND name = N'IX_CountryRegionId')
CREATE NONCLUSTERED INDEX [IX_CountryRegionId] ON [dbo].[StateProvince]
(
	[CountryRegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AddressId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Supplier]') AND name = N'IX_AddressId')
CREATE NONCLUSTERED INDEX [IX_AddressId] ON [dbo].[Supplier]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Supplier]') AND name = N'IX_UserId')
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Supplier]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 26/11/2018 12:36:02 a. m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND name = N'IX_RoleId')
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[User]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Address_dbo.AddressType_AddressTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Address_dbo.AddressType_AddressTypeId] FOREIGN KEY([AddressTypeId])
REFERENCES [dbo].[AddressType] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Address_dbo.AddressType_AddressTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Address_dbo.AddressType_AddressTypeId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Address_dbo.City_CityId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Address_dbo.City_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Address_dbo.City_CityId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Address_dbo.City_CityId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Address_dbo.CountryRegion_CountryRegionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Address_dbo.CountryRegion_CountryRegionId] FOREIGN KEY([CountryRegionId])
REFERENCES [dbo].[CountryRegion] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Address_dbo.CountryRegion_CountryRegionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Address_dbo.CountryRegion_CountryRegionId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Address_dbo.RoadType_RoadTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Address_dbo.RoadType_RoadTypeId] FOREIGN KEY([RoadTypeId])
REFERENCES [dbo].[RoadType] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Address_dbo.RoadType_RoadTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Address_dbo.RoadType_RoadTypeId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Address_dbo.StateProvince_StateProvinceId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Address_dbo.StateProvince_StateProvinceId] FOREIGN KEY([StateProvinceId])
REFERENCES [dbo].[StateProvince] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Address_dbo.StateProvince_StateProvinceId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Address]'))
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Address_dbo.StateProvince_StateProvinceId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AddressSAT_dbo.AddressType_AddressTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AddressSAT]'))
ALTER TABLE [dbo].[AddressSAT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AddressSAT_dbo.AddressType_AddressTypeId] FOREIGN KEY([AddressTypeId])
REFERENCES [dbo].[AddressType] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AddressSAT_dbo.AddressType_AddressTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AddressSAT]'))
ALTER TABLE [dbo].[AddressSAT] CHECK CONSTRAINT [FK_dbo.AddressSAT_dbo.AddressType_AddressTypeId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AddressSAT_dbo.City_CityId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AddressSAT]'))
ALTER TABLE [dbo].[AddressSAT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AddressSAT_dbo.City_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AddressSAT_dbo.City_CityId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AddressSAT]'))
ALTER TABLE [dbo].[AddressSAT] CHECK CONSTRAINT [FK_dbo.AddressSAT_dbo.City_CityId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AddressSAT_dbo.CountryRegion_CountryRegionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AddressSAT]'))
ALTER TABLE [dbo].[AddressSAT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AddressSAT_dbo.CountryRegion_CountryRegionId] FOREIGN KEY([CountryRegionId])
REFERENCES [dbo].[CountryRegion] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AddressSAT_dbo.CountryRegion_CountryRegionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AddressSAT]'))
ALTER TABLE [dbo].[AddressSAT] CHECK CONSTRAINT [FK_dbo.AddressSAT_dbo.CountryRegion_CountryRegionId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AddressSAT_dbo.RoadType_RoadTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AddressSAT]'))
ALTER TABLE [dbo].[AddressSAT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AddressSAT_dbo.RoadType_RoadTypeId] FOREIGN KEY([RoadTypeId])
REFERENCES [dbo].[RoadType] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AddressSAT_dbo.RoadType_RoadTypeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AddressSAT]'))
ALTER TABLE [dbo].[AddressSAT] CHECK CONSTRAINT [FK_dbo.AddressSAT_dbo.RoadType_RoadTypeId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AddressSAT_dbo.StateProvince_StateProvinceId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AddressSAT]'))
ALTER TABLE [dbo].[AddressSAT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AddressSAT_dbo.StateProvince_StateProvinceId] FOREIGN KEY([StateProvinceId])
REFERENCES [dbo].[StateProvince] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AddressSAT_dbo.StateProvince_StateProvinceId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AddressSAT]'))
ALTER TABLE [dbo].[AddressSAT] CHECK CONSTRAINT [FK_dbo.AddressSAT_dbo.StateProvince_StateProvinceId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.City_dbo.StateProvince_StateProvinceId]') AND parent_object_id = OBJECT_ID(N'[dbo].[City]'))
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_dbo.City_dbo.StateProvince_StateProvinceId] FOREIGN KEY([StateProvinceId])
REFERENCES [dbo].[StateProvince] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.City_dbo.StateProvince_StateProvinceId]') AND parent_object_id = OBJECT_ID(N'[dbo].[City]'))
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_dbo.City_dbo.StateProvince_StateProvinceId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Company_dbo.Address_AddressId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Company]'))
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Company_dbo.Address_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Company_dbo.Address_AddressId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Company]'))
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_dbo.Company_dbo.Address_AddressId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Company_dbo.AddressSAT_AddressSATId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Company]'))
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Company_dbo.AddressSAT_AddressSATId] FOREIGN KEY([AddressSATId])
REFERENCES [dbo].[AddressSAT] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Company_dbo.AddressSAT_AddressSATId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Company]'))
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_dbo.Company_dbo.AddressSAT_AddressSATId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Company_dbo.RegimenFiscal_RegimenFiscalId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Company]'))
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Company_dbo.RegimenFiscal_RegimenFiscalId] FOREIGN KEY([RegimenFiscalId])
REFERENCES [dbo].[RegimenFiscal] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Company_dbo.RegimenFiscal_RegimenFiscalId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Company]'))
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_dbo.Company_dbo.RegimenFiscal_RegimenFiscalId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Company_dbo.User_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Company]'))
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Company_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Company_dbo.User_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Company]'))
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_dbo.Company_dbo.User_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Employee_dbo.Address_AddressId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employee_dbo.Address_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Employee_dbo.Address_AddressId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_dbo.Employee_dbo.Address_AddressId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Employee_dbo.Gender_GenderId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employee_dbo.Gender_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Employee_dbo.Gender_GenderId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_dbo.Employee_dbo.Gender_GenderId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Employee_dbo.MaritalStatus_MaritalStatusId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employee_dbo.MaritalStatus_MaritalStatusId] FOREIGN KEY([MaritalStatusId])
REFERENCES [dbo].[MaritalStatus] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Employee_dbo.MaritalStatus_MaritalStatusId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_dbo.Employee_dbo.MaritalStatus_MaritalStatusId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Employee_dbo.User_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employee_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Employee_dbo.User_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employee]'))
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_dbo.Employee_dbo.User_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeDepartmentHistory_dbo.Department_DepartmentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]'))
ALTER TABLE [dbo].[EmployeeDepartmentHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmployeeDepartmentHistory_dbo.Department_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeDepartmentHistory_dbo.Department_DepartmentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]'))
ALTER TABLE [dbo].[EmployeeDepartmentHistory] CHECK CONSTRAINT [FK_dbo.EmployeeDepartmentHistory_dbo.Department_DepartmentId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeDepartmentHistory_dbo.Employee_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]'))
ALTER TABLE [dbo].[EmployeeDepartmentHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmployeeDepartmentHistory_dbo.Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeDepartmentHistory_dbo.Employee_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]'))
ALTER TABLE [dbo].[EmployeeDepartmentHistory] CHECK CONSTRAINT [FK_dbo.EmployeeDepartmentHistory_dbo.Employee_EmployeeId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeDepartmentHistory_dbo.JobTitle_JobTitleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]'))
ALTER TABLE [dbo].[EmployeeDepartmentHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmployeeDepartmentHistory_dbo.JobTitle_JobTitleId] FOREIGN KEY([JobTitleId])
REFERENCES [dbo].[JobTitle] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeDepartmentHistory_dbo.JobTitle_JobTitleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]'))
ALTER TABLE [dbo].[EmployeeDepartmentHistory] CHECK CONSTRAINT [FK_dbo.EmployeeDepartmentHistory_dbo.JobTitle_JobTitleId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeDepartmentHistory_dbo.Shift_ShiftId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]'))
ALTER TABLE [dbo].[EmployeeDepartmentHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmployeeDepartmentHistory_dbo.Shift_ShiftId] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shift] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeDepartmentHistory_dbo.Shift_ShiftId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]'))
ALTER TABLE [dbo].[EmployeeDepartmentHistory] CHECK CONSTRAINT [FK_dbo.EmployeeDepartmentHistory_dbo.Shift_ShiftId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeDepartmentHistory_dbo.Site_SiteId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]'))
ALTER TABLE [dbo].[EmployeeDepartmentHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmployeeDepartmentHistory_dbo.Site_SiteId] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeDepartmentHistory_dbo.Site_SiteId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeDepartmentHistory]'))
ALTER TABLE [dbo].[EmployeeDepartmentHistory] CHECK CONSTRAINT [FK_dbo.EmployeeDepartmentHistory_dbo.Site_SiteId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JobTitle_dbo.Department_DepartmentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JobTitle]'))
ALTER TABLE [dbo].[JobTitle]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JobTitle_dbo.Department_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JobTitle_dbo.Department_DepartmentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JobTitle]'))
ALTER TABLE [dbo].[JobTitle] CHECK CONSTRAINT [FK_dbo.JobTitle_dbo.Department_DepartmentId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Permission_dbo.Module_ModuleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Permission]'))
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Permission_dbo.Module_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Permission_dbo.Module_ModuleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Permission]'))
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_dbo.Permission_dbo.Module_ModuleId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Permission_dbo.Role_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Permission]'))
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Permission_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Permission_dbo.Role_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Permission]'))
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_dbo.Permission_dbo.Role_RoleId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Product_dbo.ProductSubCategory_ProductSubCategoryId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.ProductSubCategory_ProductSubCategoryId] FOREIGN KEY([ProductSubCategoryId])
REFERENCES [dbo].[ProductSubCategory] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Product_dbo.ProductSubCategory_ProductSubCategoryId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.ProductSubCategory_ProductSubCategoryId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Product_dbo.Site_SiteId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Site_SiteId] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Product_dbo.Site_SiteId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Site_SiteId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Product_dbo.Supplier_SupplierId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Supplier_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Product_dbo.Supplier_SupplierId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Supplier_SupplierId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductCostHistory_dbo.Product_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductCostHistory]'))
ALTER TABLE [dbo].[ProductCostHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCostHistory_dbo.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductCostHistory_dbo.Product_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductCostHistory]'))
ALTER TABLE [dbo].[ProductCostHistory] CHECK CONSTRAINT [FK_dbo.ProductCostHistory_dbo.Product_ProductId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductCostHistory_dbo.Site_SiteId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductCostHistory]'))
ALTER TABLE [dbo].[ProductCostHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCostHistory_dbo.Site_SiteId] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductCostHistory_dbo.Site_SiteId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductCostHistory]'))
ALTER TABLE [dbo].[ProductCostHistory] CHECK CONSTRAINT [FK_dbo.ProductCostHistory_dbo.Site_SiteId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductInventory_dbo.Product_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductInventory]'))
ALTER TABLE [dbo].[ProductInventory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductInventory_dbo.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductInventory_dbo.Product_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductInventory]'))
ALTER TABLE [dbo].[ProductInventory] CHECK CONSTRAINT [FK_dbo.ProductInventory_dbo.Product_ProductId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductInventory_dbo.Site_SiteId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductInventory]'))
ALTER TABLE [dbo].[ProductInventory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductInventory_dbo.Site_SiteId] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductInventory_dbo.Site_SiteId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductInventory]'))
ALTER TABLE [dbo].[ProductInventory] CHECK CONSTRAINT [FK_dbo.ProductInventory_dbo.Site_SiteId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductListPriceHistory_dbo.Product_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductListPriceHistory]'))
ALTER TABLE [dbo].[ProductListPriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductListPriceHistory_dbo.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductListPriceHistory_dbo.Product_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductListPriceHistory]'))
ALTER TABLE [dbo].[ProductListPriceHistory] CHECK CONSTRAINT [FK_dbo.ProductListPriceHistory_dbo.Product_ProductId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductListPriceHistory_dbo.Site_SiteId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductListPriceHistory]'))
ALTER TABLE [dbo].[ProductListPriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductListPriceHistory_dbo.Site_SiteId] FOREIGN KEY([SiteId])
REFERENCES [dbo].[Site] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductListPriceHistory_dbo.Site_SiteId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductListPriceHistory]'))
ALTER TABLE [dbo].[ProductListPriceHistory] CHECK CONSTRAINT [FK_dbo.ProductListPriceHistory_dbo.Site_SiteId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductSubCategory_dbo.ProductCategory_ProductCategoryId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductSubCategory]'))
ALTER TABLE [dbo].[ProductSubCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductSubCategory_dbo.ProductCategory_ProductCategoryId] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategory] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductSubCategory_dbo.ProductCategory_ProductCategoryId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductSubCategory]'))
ALTER TABLE [dbo].[ProductSubCategory] CHECK CONSTRAINT [FK_dbo.ProductSubCategory_dbo.ProductCategory_ProductCategoryId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Site_dbo.Address_AddressId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Site]'))
ALTER TABLE [dbo].[Site]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Site_dbo.Address_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Site_dbo.Address_AddressId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Site]'))
ALTER TABLE [dbo].[Site] CHECK CONSTRAINT [FK_dbo.Site_dbo.Address_AddressId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Site_dbo.Company_CompanyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Site]'))
ALTER TABLE [dbo].[Site]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Site_dbo.Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Site_dbo.Company_CompanyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Site]'))
ALTER TABLE [dbo].[Site] CHECK CONSTRAINT [FK_dbo.Site_dbo.Company_CompanyId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.StateProvince_dbo.CountryRegion_CountryRegionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateProvince]'))
ALTER TABLE [dbo].[StateProvince]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StateProvince_dbo.CountryRegion_CountryRegionId] FOREIGN KEY([CountryRegionId])
REFERENCES [dbo].[CountryRegion] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.StateProvince_dbo.CountryRegion_CountryRegionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateProvince]'))
ALTER TABLE [dbo].[StateProvince] CHECK CONSTRAINT [FK_dbo.StateProvince_dbo.CountryRegion_CountryRegionId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Supplier_dbo.Address_AddressId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Supplier]'))
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Supplier_dbo.Address_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Supplier_dbo.Address_AddressId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Supplier]'))
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_dbo.Supplier_dbo.Address_AddressId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Supplier_dbo.User_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Supplier]'))
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Supplier_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Supplier_dbo.User_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Supplier]'))
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_dbo.Supplier_dbo.User_UserId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.User_dbo.Role_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[User]'))
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.User_dbo.Role_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[User]'))
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.Role_RoleId]
GO
USE [master]
GO
